# 1- PYTHON INTRODUCTION - (TASK - 1)
# --> python is very easy language
# --> what is python? Ans - python is highly recommanded programming language & object oriented language
# --> Father of python - Guido van Rosam
# --> Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel
# --> Python borrowed all concept from c,c++,java,unix (so python is everything) thats why python very very powerfull tool
# -->Python developed in NRI - (Netherland) & lot of people say that python is new language
# --> Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
# --> It has a large and comprehensive standard library.

In [1]:
b = '5'
type(b)

str

In [2]:
a = 6
a

6

In [3]:
a1 = 7
a1

7

In [4]:
a

6

In [5]:
a1

7

In [6]:
b

'5'

In [7]:
a

6

# --> Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
# --> Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
# --> which companies are used python - google,nasa,uber,netfliz,reddit,facebook/meta, everywhere python used everywhere
# --> python code can understand everybody & python is dynamic programming language
# --> In python everything done by PVM (python virtual machine)
# --> you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to write separate programe for every platform. Once you write code you can run in platform
# --> Python is dynamically programming language (not required to declared data types)
# --> Python is freeware and open source. Moving from one platform to other platform without changeing any code
# --> Python contains rich libray - numpy,pandas so python is the best application for datascience
# --> which scenario python can't be used - ( python can not perform in mobile application like android )
# --> Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application programme),Anaconda python(Bigdata,datascience)
# --> Python 1.0 introduce in jan 1994 -- Noorganization is working now
# --> Python 2.0 introduce in oct 2000 -- Noorganization is working now
# -->Python 3.0 introduce in Dec 2008, 2016, 2017,---- latest version - 3.6, 3.6, 3.7, 3.8, 3.9, 3.10

In [9]:
a = '5'
type(a)

str

In [10]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

# 2- Getting started with Python Language
# Python 3.x
# Version Release Date --->
# 3.13 2022-25-08 3.10 2021-10-04 3.9 2020-10-05 3.8 2020-04-29 3.7 2018-06-27 3.6 2016-12-23 3.5 2015-09-13 3.4 2014-03-17 3.3 2012-09-29 3.2 2011-02-20 3.1 2009-06-26 3.0 2008-12-03

# Python 2.x
# Version Release Date
# 2.7 2010-07-03 2.6 2008-10-02 2.5 2006-09-19 2.4 2004-11-30 2.3 2003-07-29 2.2 2001-12-21 2.1 2001-04-15 2.0 2000-10-16

In [11]:
a = 5
a
type(a)

int

In [12]:
6 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1218098064.py, line 1)

# Two major versions of Python are currently in active use:
# Python 3.x is the current version and is under active development.
# Python 2.x is the legacy version and will receive only security updates until 2020. No new features will be implemented.Note that many projects still use Python 2, although migrating to Python 3 is getting easier.
# If you want to learn python only then better you can use software called - python.org (below is url) https://www.python.org/downloads/
# For data science the best application for datascience models using python is called ANACONDA

In [14]:
## Verify if Python is installed
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

# 3-Creating variables and assigning values
# To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.

# = Python uses = to assign values to variables There's no need to declare a variable in advance (or to assign a data type to it) Assigning a value to a variable itself declares and initializes the variable with that value. There's no way to declare a variable without assigning it an initial value.

In [15]:
# Integer
a = 2
type(a)
#a

int

In [17]:
# Integer 
b = 9322663386
print(b)

9322663386

In [18]:
# Floating point
pi = 3.14
print(pi)

3.14

In [19]:
type(pi)

float

In [20]:
# String
c = 'A'
print(c)

A

In [21]:
type(c)

str

In [23]:
# String 
name = 'Tanmay Kshirsagar'
print(name)
type(name)

Tanmay Kshirsagar

str

In [24]:
# Boolean 
q = True
print(q)

True

In [25]:
# Empty value or null data type
x = None
print(x)

None

In [26]:
#Variable assignment works from left to right. So the following will give you an syntax error.
5 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2124959903.py, line 2)

In [27]:
x = 5
x

5

In [28]:
# 7th page continue onwards

# 4-PYTHON ( IDENTIFIER / VARIBALE / OBJECT ) --
# There is a person whose name - Multiple names are to identify person.so finally the Name which can be used for identification purpose.
# Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)

# Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some rule and keep their child naming ceremony.
# *Rules to define Python Identifier & we will check those rules ==

# <1 Alphabet (uppercae & lowercase) <2> Digits (0-9) # should not stat with digit <3> underscore(_)

In [29]:
ABC = 50
AB

NameError: name 'AB' is not defined

In [30]:
NIT = 15000
nit

NameError: name 'nit' is not defined

In [31]:
cash123 = 10
cash123

10

In [32]:
123cash = 10
123cash

SyntaxError: invalid decimal literal (2567225020.py, line 1)

In [34]:
#x = 10 # x is the variable & 10 is the alue
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
#ca$h
cash

10

In [35]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1112431759.py, line 1)

In [36]:
ca*h = 20
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3805698226.py, line 1)

In [38]:
CASH = 20
#Cash
CASH

20

In [39]:
CASH1 = 30
#cash1
CASH1

30

In [40]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

SyntaxError: invalid decimal literal (216375565.py, line 3)

In [41]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
Abcde = 20
#total
Abcde

20

In [42]:
new = 30
NEW

NameError: name 'NEW' is not defined

In [43]:
Total5 = 30
TOTAL

NameError: name 'TOTAL' is not defined

In [44]:
def = 4.6
def

SyntaxError: invalid syntax (1737738290.py, line 1)

In [45]:
DEF = 4
DEF

4

In [46]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [47]:
DEF = 5.6
DEF
#def is key work

5.6

In [48]:
def = 7
def

SyntaxError: invalid syntax (1075677671.py, line 1)

In [49]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword
for = 50
#DEF
#if
for

SyntaxError: invalid syntax (277425378.py, line 4)

In [50]:
FOR = 58
FOR

58

In [51]:
def = 30
def

SyntaxError: invalid syntax (2010559268.py, line 1)

In [52]:
if = 30
if

SyntaxError: invalid syntax (328627015.py, line 1)

In [53]:
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfg = 56
#IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfg

56

In [54]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

10

In [55]:
_abc_def_gef  = 20
_abc_def_gef

20

In [56]:
# Q & A for valid / Invalid identifier - 1>123AMX 2>Amx123 3>ml2ai 4>_abc_def_gef 5>def 6>else 7>ELSE

# ----- RULES OF PYTHON IDENTIFIER ------ 1> A to Z, a to z, 0 - 9 2> Doesnot starts with digit 3> Case sensitive 4> Reserved words or keywords cannot be a identifier 5> Identifier cannot have a lenght limit 6> _ only allowed 7> NO special character is allowed

# ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

# PYTHON RESERVED WORDS -
# if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english)
# Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
# In any programming language there is a reserved word are there we gonna learn only python Reserved

# python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete

# all reserved words have some meaning & functionality
# Learning python is nothing but learing all this functionality

# **35 RESERVED WORDS---

# --> True, False, None ==> Represent Boolean data types
# --> and, or, not, is ==> Represent the operators
# --> if, else, elif ==> Represent the statement (# python switch,do..while statament is not available)
# --> while, for, break, continue, return, in, yield ==> Represent the loop concept
# --> try, except, finally, raise, assert ==> Represent for functionallity
# --> import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function
# -->*NOTES -- 35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [57]:
#a = True # hash is used for comment
a = True
a

True

In [58]:
a1 = true
a1

NameError: name 'true' is not defined

In [59]:
True = a

SyntaxError: cannot assign to True (1144090750.py, line 1)

In [61]:
b = None
#b = none
b

In [62]:
c = False
#c = false
c

False

In [63]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [66]:
# write a coding to create index of these keywords --- IMP ---

import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df

# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

# PYTHON DATA TYPES // (14) - INBUILD DATA TYPES -
# 1>int 2>float 3>complex 4>bool 5>str 6>bytes 7>bytearray DATA STRUCTURE ---> 8>range 9>list 10>tuple 11>set 12>frozenset 13>dict 14>None

# python provides some inbuild function like -- <1> print() <2> type() <3> id()

# int,float,complex,boolen is not represent object # Tricky question

# except these 4 everythig object # Tricky question
# NOTE - [**In python all 14 data types are object only]Thats why we called as python is object oriented program

In [67]:
"hello world"

'hello world'

In [68]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
#print(a)       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
id(a)            # To find an address of an object
#type(a)

140704624749272

In [69]:
b = 10
id(b)

140704624749272

In [70]:
c = 20
id(c)

140704624749592

In [71]:
a = 10
b = 10
id(a)

140704624749272

In [72]:
a = 10
a
id(a)

140704624749272

# int datatypes -
# INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES *int datatype how many ways represent values in 3ways -
# 2> Binary form --- (Base-2) -- (0,1) 3> Octal form --- (Base-8) -- (0,7)

In [74]:
a1 = 4809
#a
#print(a)
type(a1)

int

In [75]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b111 # Now pvm convert value to binary value
b
#a

7

In [76]:
b_1 = 0b11
b_1

3

In [77]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (3245495910.py, line 1)

In [78]:
b1 = 111
b1

111

In [79]:
c = 0b1111
c

15

In [80]:
b3 = 0b222

SyntaxError: invalid digit '2' in binary literal (3363899208.py, line 1)

In [81]:
b = 0b11 # Now pvm convert value to binary value
b

3

In [82]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o111 # Now pvm covert value to octal value
b1
#a

73

In [83]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o100
a
b
c
64

64

In [84]:
c1 = 0o33
c1

27

In [85]:
b

2

In [86]:
c

64

In [87]:
A = 78
type(A)

int

# float datatypes -
# employee sal - 5676.76diesel price - 67.25

# These values are not integral value this is called as decimal value
# Floating datatype you cannot declare Binary,Octal & Hexadecimal because python enterpretur not accept that
# In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in float datatypes & only letter 'e' can allowed

In [88]:
b = 67.9
b
type(b)

float

In [89]:
b1 = 0b1
b1

1

In [90]:
c = 0o11.6
c

SyntaxError: invalid syntax (3270742341.py, line 1)

In [91]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0b4567.89 # This is binary
d
#e
#b

SyntaxError: invalid syntax (3366244376.py, line 7)

In [92]:
f1 = 1E1
f1
#type(f1)

10.0

In [93]:
#f = 1e4# only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
g
#f
#type(g)

2400.0

In [95]:
g = 2.4E3
g

2400.0

In [96]:
g1 = 23e3
g1

23000.0

In [97]:
e = 5.e3
#type(e) 
e

5000.0

# complex datatypes -
# Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
# j is the compulsory value & there is no other value accepted in complex type
# j^2 = -1
# Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic application or scientific application then python is the best option
# Real type any type base can be accepted but imaginary part allow only integer

In [98]:
x = 30+40j #assigned int value in real part & imaginary part
x
#type(x)

(30+40j)

In [99]:
type(x)

complex

In [100]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
y + z
y*z
y/z

(0.5022837821805671-0.25148297544192666j)

In [101]:
#c = 15+0b111j # Imaginary part cannot be binary,octal
d = 0o11+15j # Real part can be binary,octal
#c
d

(9+15j)

In [102]:
d2 = 0b111+15j
d2

(7+15j)

In [103]:
e1 = 4 + 15a
e1

SyntaxError: invalid decimal literal (1489874699.py, line 1)

In [104]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [105]:
a = 2+3J
type(a)

complex

In [106]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

# bool datatypes -
# True/False - (only allowed boolean values)
# False value -- 0 (internally memory level conversion happened)
# True value -- 1

In [107]:
a = 10
b = 20
c = a>b
c

False

In [ ]:
True+True
True*True
True-True
True/True
False+False
False+True
True/False

In [109]:
True/True

1.0

In [110]:
True/False # error

ZeroDivisionError: division by zero

# str datatypes -
# enclosed in '' (single quote) // "" (double quote)
# single line we assined as '' // ""
# multiline we assigned as ("' "')
# single & double quotes are allowed only for single line
# triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [111]:
naresh = '''good for datascience'''
naresh
#type(naresh)

'good for datascience'

In [112]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
type(naresh)

str

In [113]:
naresh2 = '''good 
             for datascience'''
#type(careerera)#' single quotes'
naresh2
#type(naresh)

'good \n             for datascience'

In [114]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
#type(naresh)

'good for datascience'

In [115]:
naresh1 = '''good for 
 datascience'''
#type(naresh1
naresh1

'good for \n datascience'

In [116]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [117]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare \nyou'

In [118]:
b = '''hello 
    hi'''
b

'hello \n    hi'

In [119]:
# single quote & double both are equl
# ''' multiline comment'''

In [120]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

"('hallo' \n  'how'\n    'are you')"

In [121]:
# Type casting or Type conversion -
# int() -- float() -- complex() -- bool() -- str()

In [122]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
int('ten') # amx is a character

ValueError: invalid literal for int() with base 10: 'ten'

In [123]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

11.0

In [124]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)     # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
#complex(10, 0b11j)
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [125]:
a1 = 10+20j
type(a1)
a1.real
a1.imag

20.0

In [126]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(-10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+1j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

True

In [127]:
bool(-10)

True

In [128]:
bool(0+1j)

True

In [129]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

'(10+20j)'

In [130]:
z1 = str(10)
z1

'10'

In [131]:
# Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other -
# We cannot convert our complex data types to int and float

# int() float() complex() bool() str()

In [132]:
# Fundamental datatypes vs Immutability --
# All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any changes in that object . we can say that (non-changeable behaviour)
# why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10 but how many reference we assinged -- 3 reference indicates to 1 object
# bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
# you can create object with different name, but you cannot create object with same name

In [133]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

140704624749272
140704624749272
140704624749592

In [134]:
# Mutable -- Changeable-- once you create an object
# Immutable -- Non-changeable
# Fundamental data types are IMMUTABLE but (LIST is mutable)
# Everything in python is an object
# **This concept reusing same object such type of concept is define following ranges - 1> int ----> 0 to 256 2> bool ---> Always 3> str ----> Always 4> float & complex ----> Can not performe the reusable concept

In [135]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

140704624749272
140704624749272

In [136]:
id(y)

140704624749272

In [137]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [138]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False