# Conditional Statements

In [4]:
if True:                  # indentiation is always 4 spaces
    print('Data Science')

Data Science

In [5]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [6]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [7]:
#code-1 : number is even or odd 

x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [8]:
#code-1 : number is even or odd 
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [9]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

odd number

In [10]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

Even number
odd number

In [11]:
x = 13
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [12]:
x = 19
r = x % 2 

if r == 0:
    print('Even number')
    
if r != 0:
    print('odd number')

odd number

In [13]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [14]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [15]:
x = 8
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number
greater number

In [16]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('smaller number')
  
else:
    print('Odd Number')

Even number
smaller number

# if -- elif -- else

In [17]:
x = 9

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

# Loops

# While Loop

In [18]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [19]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [20]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [21]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [22]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [23]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [24]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# Foor Loop

In [25]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [26]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [27]:
range(5)

range(0, 5)

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
for i in range(1,10,3):
    print(i)

1
4
7

In [30]:
# print 5 multiplication table 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

- break
- continue 
- pass

In [31]:
for i in range(1,11):
    
    if i == 6:
        break
        
    print(i)

1
2
3
4
5

In [32]:
for i in range(1,11):
    
    if i == 7:
        continue
        
    print(i)

1
2
3
4
5
6
8
9
10

In [33]:
for i in range(1,11):

SyntaxError: incomplete input (1593395653.py, line 1)

In [34]:
for i in range(1,11):
    pass

In [35]:
# you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5 

for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [36]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [37]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [38]:
for i in range(1,50):
    if i%3 == 0 and i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
end

In [39]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [40]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [41]:
for i in range(1,5):
    i=i+1
    print('# # # # ')

# # # #
# # # #
# # # #
# # # #

In [42]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [43]:
for j in range(4):
    print('#')

#
#
#
#

In [44]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [45]:
for j in range(4):
    print('#', end = " ")

# # # #

In [46]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [47]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [48]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [49]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [50]:
for i in range(4):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #

In [51]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [52]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [53]:
list(range(5))

[0, 1, 2, 3, 4]

In [54]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [55]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [56]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [57]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#

In [58]:
nums = [12,15,18,21,26, 30, 40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [59]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [60]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [61]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [62]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [63]:
nums = [10,14,18,21,5,10]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break #it will print only 1 number then it break

10

In [64]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [65]:
nums = [7,14,18,21,23,27,29] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [66]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found

In [67]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found') # hear else we dont write in if block but we can write in for block only

Number Not Found

In [68]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [69]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [70]:
nums = [10,14,18,21,20,27,30] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [71]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [72]:
num = 14

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [73]:
num = 13

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Prime Number