<a href="https://colab.research.google.com/github/Tanmay1112004/6-MONTHS-FS-DS-AI-Roadmap-2025/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9th aug 2025

In [ ]:
a = 5
print(type(a))  #inbuild class

<class 'int'>

In [ ]:
l = [1,2,3]
print(type(l))

<class 'list'>

In [ ]:
 class computer:         # computer is the class
  def config():          # config is the method
    print('i5', '8gb')

com1 = computer()
com1

In [ ]:
def config():
    print('i5', '8gb')
config()

i5 8gb

In [ ]:
class laptop():
  def config():            # method
    print('i8', 'hp', 8)
    print('i12', 'dell', 16)

lap1 = laptop()

In [ ]:
 class laptop():
  def config():            # method
    print('i8', 'hp', 8)
    print('i12', 'dell', 16)

lap1 = laptop()
laptop.config()

i8 hp 8
i12 dell 16

In [ ]:
class laptop():
  def config():            # method
    print('i8', 'hp', 8)
    print('i12', 'dell', 16)

lap1 = laptop()
lap1.config()

TypeError: laptop.config() takes 0 positional arguments but 1 was given

In [ ]:
class laptop():
  def config(self):            # method
    print('i8', 'hp', 8)
    print('i12', 'dell', 16)

lap1 = laptop()
lap1.config()

i8 hp 8
i12 dell 16

In [ ]:
 class laptop():
  def config(self):            # method
    print('i8', 'hp', 8)
    print('i12', 'dell', 16)

lap1 = laptop()
lap2 = laptop()
lap3 = laptop()

lap1.config()
lap2.config()
lap3.config()

i8 hp 8
i12 dell 16
i8 hp 8
i12 dell 16
i8 hp 8
i12 dell 16

In [ ]:
 class computer:        # computer is class (user create the class hear(user defined class))
  def config():         # config is method
    print('i5', '8gb')

a = 8.8
print(type(a))

com1 = computer()
print(type(com1))

<class 'float'>
<class '__main__.computer'>

In [ ]:
 class laptop():
  def __init__(self):
    print("i8", "hp", 8)
    print("i12", "dell", 16)

lap = laptop()

i8 hp 8
i12 dell 16

In [ ]:
class laptop():
  def __init__(self):
    print("i8", "hp", 8)
    print("i12", "dell", 16)

lap = laptop()
print()
lap2 = laptop()
print()
lap3 = laptop()

i8 hp 8
i12 dell 16

i8 hp 8
i12 dell 16

i8 hp 8
i12 dell 16

In [ ]:
class laptop():
  def __init__(self):
    print("i8", "hp", 8)
    print("i12", "dell", 16)

lap = laptop()
print()
lap2 = laptop()
print()
lap3.__init__()

i8 hp 8
i12 dell 16

i8 hp 8
i12 dell 16

i8 hp 8
i12 dell 16

In [ ]:
 class computer:

    def __init__(self):
      print("in init")

com1 = computer()
com2 = computer()
com3 = computer()

in init
in init
in init

In [ ]:
class computer():

  def __init__(self):
    print("in init")

  def config(self):
    print("i5", "8gb")

com1 = computer()
#com2 = computer()

com1.config()
#com2.config()

in init
i5 8gb

In [ ]:
class computer():

  def __init__(self):
    print("in init")

  def config(self):
    print("i5", "8gb")

com1 = computer()
com2 = computer()

com1.config()
com2.config()

in init
in init
i5 8gb
i5 8gb

In [ ]:
class computer():

  def __init__(self):
    print("in init")

  def config(self):
    print("i5", "8gb")

com1 = computer('i5', 16)
com2 = computer('i7', 16)

com1.config()
com2.config()

TypeError: computer.__init__() takes 1 positional argument but 3 were given

In [ ]:
class computer():

  def __init__(self,cpu,ram):
    print("in init")

  def config(self):
    print("i5", "8gb")

com1 = computer('i5', 16)
com2 = computer('i7', 16)

com1.config()
com2.config()

in init
in init
i5 8gb
i5 8gb

In [ ]:
class computer():

  def __init__(self,cpu,ram):
    print("in init")

  def config(self):
    print("i5", "8gb")
    print('i7', '16gb')

com1 = computer('i5', 16)
com2 = computer('i7', 16)

com1.config()
com2.config()

in init
in init
i5 8gb
i7 16gb
i5 8gb
i7 16gb

In [ ]:
class computer():

  def __init__(self,cpu,ram):
    self.cpu = cpu
    self.ram = ram


  def config(self):
    print("i5", "8gb")
    print('i7', '16gb')

com1 = computer('i5', 16)
com2 = computer('i7', 16)

com1.config()
com2.config()

i5 8gb
i7 16gb
i5 8gb
i7 16gb

# Toady we are completed
    - class
    - object
    - method
    - method argument
    - self

# 10th aug 2025

In [1]:
class computer:  # computer class

c1 = computer()  # c1 is object which referring to class
print(id(c1))

IndentationError: expected an indented block after class definition on line 1 (ipython-input-1957240691.py, line 3)

In [2]:
class computer:  # computer class
       pass
c1 = computer()  # c1 is object which referring to class
print(id(c1))

136739202423584

In [3]:
class computer:
  pass

c1 = computer()
c2 = computer()

print(id(c1))
print(id(c2))

136739189144896
136739189143888

In [5]:
class computer:
  def __init__(self):      # special method
    self.name = 'tanmay'
    self.age = 21

c1 = computer()
c2 = computer()

print(c1.name, c1.age)
print(c2.name)

tanmay 21
tanmay

In [9]:
class computer:
  def __init__(self):      # special method
    self.name = 'tanmay'
    self.age = 21

c1 = computer()
c2 = computer()

c2.name = 'mit'
c1.name = 'rakesh'

print(c1.name)
print(c2.name)

rakesh
mit

In [10]:
class computer:
  def __init__(self):      # special method
    self.name = 'tanmay'
    self.age = 21

c1 = computer()
c2 = computer()

c2.name = 'mit'
c2.age = 21
c1.name = 'rakesh'
c1.age = 20

print(c1.name, c1.age)
print(c2.name, c2.age)

rakesh 20
mit 21

# ENCAPSULATION

tow cancept

1. variables

  1. instance variables
  2. class variables == static variables


2. methods

  1. instance method
  2. class method
  3. static method

In [12]:
class car:
  def __init__(self):
    self.mil =  10    # instance varible beacuse inside special method
    self.com = 'BMW'  # instamce variable beacuse inside special method

c1 = car()
c2 = car()

print(c1.com, c1.mil)
print(c2.com, c2.mil)

print(id(c1))
print(id(c2))

BMW 10
BMW 10
136739059245536
136739059250432

In [14]:
class car:
  def __init__(self):
    self.mil =  10
    self.com = 'BMW'

c1 = car()
c2 = car()

c1.com = 'maruti'
c1.mil = 20

print(c1.com, c1.mil)
print(c2.com, c2.mil)

print(id(c1))
print(id(c2))

maruti 20
BMW 10
136739063199936
136739059250432

In [16]:
class car:
  wheels = 5    # this is class variable or static variable

  def __init__(self):
    self.mil =  10
    self.com = 'BMW'

c1 = car()
c2 = car()

c2.mil = 8

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

BMW 10 5
BMW 8 5

In [17]:
class car:
  wheels = 6    # this is class variable or static variable

  def __init__(self):
    self.mil =  10
    self.com = 'BMW'

c1 = car()
c2 = car()

c2.mil = 8
c2.wheels = 7

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

BMW 10 6
BMW 8 7

# method

In [18]:
class student:

  school = 'mit'  # school is class variable

  def __init__(self,m1,m2,m3): # hear i pass 2 variables (m1,m2,m3 are instance variables)
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

# lets create a method to calculate average of the marks
  def avg(self): #-------------> hear this average is INSTANCE METHOD
    return (self.m1 + self.m2 + self.m3)/3

# Lets create object hear as we created s1, s2 we created object & also to pass value in this
s1 = student(10,20,30)
s2 = student(5,15,10)

print(s1.avg())
print(s2.avg())

20.0
10.0

In [19]:
class student:

  school = 'mit'  # school is class variable

  def __init__(self,m1,m2,m3): # hear i pass 2 variables (m1,m2,m3 are instance variables)
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

# lets create a method to calculate average of the marks
  def avg(self): #-------------> hear this average is INSTANCE METHOD
    return (self.m1 + self.m2 + self.m3)/3

# Lets create object hear as we created s1, s2 we created object & also to pass value in this
s1 = student(10,20,30)
s2 = student(5,15,10)

print(s1.avg())
print(s2.avg())

# we also get the value like this & rather we can print like this we also define method
print(s1.m1)

20.0
10.0
10

In [21]:
class student:

  school = 'mit'  # school is class variable

  def __init__(self,m1,m2,m3): # hear i pass 2 variables (m1,m2,m3 are instance variables)
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

# lets create a method to calculate average of the marks
  def avg(self): #-------------> hear this average is INSTANCE METHOD
    return (self.m1 + self.m2 + self.m3)/3

  def info(cls):       # user need to define cls - for class variable
    return cls.school

# Lets create object hear as we created s1, s2 we created object & also to pass value in this
s1 = student(10,20,30)
s2 = student(5,15,10)

print(s1.avg())
print(s2.avg())

print(s1.info())
print(s2.info())

20.0
10.0
mit
mit

In [ ]:
class student:

  school = 'mit'  # school is class variable

  def __init__(self,m1,m2,m3): # hear i pass 2 variables (m1,m2,m3 are instance variables)
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

# lets create a method to calculate average of the marks
  def avg(self): #-------------> hear this average is INSTANCE METHOD
    return (self.m1 + self.m2 + self.m3)/3

  def info(cls):       # user need to define cls - for class variable
    return cls.school

# Lets create object hear as we created s1, s2 we created object & also to pass value in this
s1 = student(10,20,30)
s2 = student(5,15,10)

print(s1.avg())
print(s2.avg())

print(s1.info())
print(s2.info())

# Inner class

In [22]:
class student:
  def __init__(self,name,rollno):
    self.name = name
    self.rollno = rollno

s1 = student('tanmay', 101)
s2 = student('mit', 102)

print(s1.name, s1.rollno)
print(s2.name, s2.rollno)

tanmay 101
mit 102