# Sets 

## 1) Unordered & Unindexed collection of items.
## 2) Set elements are unique. Duplicate elements are not allowed.
## 3) Set elements are immutable (cannot be changed).
## 4) Set itself is mutable. We can add or remove items from it.

## Set Creation

In [1]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset)  # Length of the set

5

In [3]:
myset = {1,1,2,2,3,3,4,5} # Duplicate elements are not allowed.
myset

{1, 2, 3, 4, 5}

In [4]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [5]:
myset2 = {'Tanmay' , 'Rutuja' , 'Mayuri'} # Set of Strings
myset2

{'Mayuri', 'Rutuja', 'Tanmay'}

In [6]:
myset3 = {10,20, "Hi", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hi'}

In [7]:
myset3 = {10,20, "Hi", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

TypeError: unhashable type: 'list'

In [8]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [9]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

## Loop through a Set

In [10]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

four
five
six
two
seven
eight
three
one

In [13]:
for i in enumerate(myset): 
    print(i)

(0, 'four')
(1, 'five')
(2, 'six')
(3, 'two')
(4, 'seven')
(5, 'eight')
(6, 'three')
(7, 'one')

## Set Membership

In [14]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [15]:
'one' in myset # Check if 'one' exist in the set

True

In [16]:
'ten' in myset # Check if 'ten' exist in the set

False

In [17]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [18]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

## Add & Remove Items

In [19]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [21]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [22]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [23]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [24]:
myset.clear() # Delete all items in a set
myset

set()

In [25]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

## Copy Set

In [26]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same as

(1858908936608, 1858908936608)

In [29]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
id(my_set) # The address of my_set will be different from myset because my_set i

1858908939072

In [32]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
my_set # Copy of the set won't be impacted due to changes made on the original S

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

## Union

In [35]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [36]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C. """
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Intersection

In [40]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [41]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [42]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [43]:
"""
Updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B. """
A.intersection_update(B)
A

{4, 5}

## Difference

In [44]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [45]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [46]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [47]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [48]:
B.difference(A)

{6, 7, 8}

In [49]:
"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A. """
B.difference_update(A)
B

{6, 7, 8}

## Symmetric Difference

In [50]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [51]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUde"

{1, 2, 3, 6, 7, 8}

In [52]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [54]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B. """
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

## Subset , Superset & Disjoint

In [55]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [56]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A

True

In [57]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [58]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

True

In [60]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

False

## Other Builtin functions

In [61]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
sum(A)

45

In [63]:
max(A)

9

In [64]:
min(A)

1

In [65]:
len(A)

9

In [67]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [68]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [69]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary
## . Dictionary is a mutable data type in Python.
## . A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
## . Keys must be unique in a dictionary, duplicate values are allowed.

## Create Dictionary

In [70]:
mydict = dict() # empty dictionary
mydict

{}

In [71]:
mydict = {} # empty dictionary
mydict

{}

In [72]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [73]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [74]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [75]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [76]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [77]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [78]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [80]:
mydict = {1:'one' , 2:'two' , 'A':['Tanmay' , 'john' , 'Maria']} # dictionary with string
mydict

{1: 'one', 2: 'two', 'A': ['Tanmay', 'john', 'Maria']}

In [82]:
mydict = {1:'one' , 2:'two' , 'A':['Tanmay' , 'john' , 'Maria'], 'B':('Bat' , 'ca')}
mydict

{1: 'one', 2: 'two', 'A': ['Tanmay', 'john', 'Maria'], 'B': ('Bat', 'ca')}

In [83]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'ca')}
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('Bat', 'ca')}

In [84]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'c': None, 'b': None, 'a': None}

In [86]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'c': 10, 'b': 10, 'a': 10}

In [87]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [89]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

## Accessing Items

In [91]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [92]:
mydict[1] # Access item using key

'one'

In [93]:
mydict.get(1) # Access item using get() method

'one'

In [94]:
mydict1 = {'Name':'Tanmay' , 'ID': 932266 , 'DOB': 2004 , 'job' :'Data Science'} 
mydict1

{'Name': 'Tanmay', 'ID': 932266, 'DOB': 2004, 'job': 'Data Science'}

In [95]:
mydict1['Name'] # Access item using key

'Tanmay'

In [96]:
mydict1.get('job') # Access item using get() method

'Data Science'

## Add, Remove & Change Items

In [97]:
mydict1 = {'Name':'Tanmay' , 'ID': 12345 , 'DOB': 2004 , 'Address' : 'kharosa'}
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'kharosa'}

In [98]:
mydict1['DOB'] = 2004 # Changing Dictionary Items
mydict1['Address'] = 'Pune'
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Pune'}

In [99]:
dict1 = {'DOB':2004}
mydict1.update(dict1)
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Pune'}

In [101]:
mydict1['Job'] = 'Data Scientist' # Adding items in the dictionary
mydict1

{'Name': 'Tanmay',
 'ID': 12345,
 'DOB': 2004,
 'Address': 'Pune',
 'Job': 'Data Scientist'}

In [102]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Pune'}

In [103]:
mydict1.popitem() # A random item is removed

('Address', 'Pune')

In [104]:
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004}

In [105]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Tanmay', 'DOB': 2004}

In [106]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [107]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

## Copy Dictionary

In [108]:
mydict = {'Name':'Tanmay' , 'ID': 12345 , 'DOB': 2004 , 'Address' : 'Kharosa'}
mydict

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Kharosa'}

In [109]:
mydict1 = mydict # Create a new reference "mydict1"

In [110]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1858921760000, 1858921760000)

In [111]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [112]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

1858922063616

In [114]:
mydict['Address'] = 'Mumbai'

In [115]:
mydict

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Mumbai'}

In [116]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Mumbai'}

In [117]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Kharosa'}

## Loop through a Dictionary

In [118]:
mydict = {'Name':'Tanmay' , 'ID': 12345 , 'DOB': 2004 , 'Address' : 'Kharosa'}
mydict

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'Kharosa'}

In [119]:
for i in mydict:
    print(i , ':' , mydict[i]) # Key & value pair

Name : Tanmay
ID : 12345
DOB : 2004
Address : Kharosa

In [121]:
for i in mydict:
   print(mydict[i]) # Dictionary items

Tanmay
12345
2004
Kharosa

## Dictionary Membership

In [122]:
mydict1 = {'Name':'Tanmay' , 'ID': 12345 , 'DOB': 2004 , 'Address' : 'kharosa'}
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'kharosa'}

In [123]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [124]:
'Tanmay' in mydict1 # Membership test can be only done for keys.

False

In [125]:
'ID' in mydict1

True

In [126]:
'Address' in mydict1

True

## All / Any
- The all() method returns:
- True - If all all keys of the dictionary are true
- False - If any key of the dictionary is false
- The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [127]:
mydict1 = {'Name':'Tanmay' , 'ID': 12345 , 'DOB': 2004 , 'Address' : 'kharosa'}
mydict1

{'Name': 'Tanmay', 'ID': 12345, 'DOB': 2004, 'Address': 'kharosa'}

In [128]:
all(mydict1) # Will Return false as one value is false (Value 0)

True