# Tuple

## Tuple Creation

In [2]:
t1 = () # Empty Tuple
t1

()

In [3]:
t2 = (10,20,30) # Tuple of integer numbers
t2

(10, 20, 30)

In [4]:
t3 = (10.77,20.88,30.66) # Tuple of float numbers
t3

(10.77, 20.88, 30.66)

In [7]:
t4 = ('one','two','three') # Tuple of strings
t4

('one', 'two', 'three')

In [8]:
t5 = ('Tanmay',20,(30,40), (50,60)) # Nested tuples
t5

('Tanmay', 20, (30, 40), (50, 60))

In [9]:
t6 = (100,'Tanmay', 30.55) # Tuple of mixed data types
t6

(100, 'Tanmay', 30.55)

In [12]:
t7 = ('Tanmay', 25, [50,100], {'John', 'David'}, (99,88,22))
t7

('Tanmay', 25, [50, 100], {'David', 'John'}, (99, 88, 22))

In [13]:
len(t7) # length of list

5

## Tuple Indexing

In [14]:
t2[0] # Retreive first element of the tuple

10

In [15]:
t4[0] # Retreive first element of the tuple

'one'

In [16]:
t4[0][0] # Nested Indexing - Access the first charcter of the tuple element

'o'

In [17]:
t4[-1] # last element of the tuple

'three'

In [18]:
t5[-1] # last element of the tuple

(50, 60)

## Tuple Slicing

In [19]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [20]:
mytuple[0:3] # returns the 0th to 3rd position nymbers

('one', 'two', 'three')

In [21]:
mytuple[2:5] # returns the 2nd to 5th position nymbers

('three', 'four', 'five')

In [22]:
mytuple[:3] # returns first three

('one', 'two', 'three')

In [23]:
mytuple[0:2] # returns first two

('one', 'two')

In [25]:
mytuple[-3:] # returns last three

('six', 'seven', 'eight')

In [26]:
mytuple[-2:] # returns last two

('seven', 'eight')

In [27]:
mytuple[-1] # returns last item of the tuple

'eight'

In [28]:
mytuple[:] # returns whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove & Change Items

In [29]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [31]:
del mytuple[0] # Tuples are immutable which means we  can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [32]:
del mytuple[0] = 1 # Tuples are immutable which means we  can't delete tuple items

SyntaxError: invalid syntax (3809477229.py, line 1)

In [33]:
del mytuple # Deleting entire tuple object is possible

## Loop through a tuple

In [35]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
for i in  mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [37]:
for i in enumerate (mytuple):
     print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Membership

In [38]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [39]:
'one' in mytuple # Check if 'one' exist in the tuple

True

In [40]:
'ten' in mytuple # Check if 'one' exist in the tuple

False

In [41]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [42]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

## Index Position

In [43]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [45]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [46]:
mytuple.index('five') # Index of first element equal to 'five'

4

## Sorting

In [50]:
mytuple2 = (43,67,99,12,6,90,67)

In [51]:
sorted(mytuple2) # Returns the assending order

[6, 12, 43, 67, 67, 90, 99]

In [52]:
sorted(mytuple2, reverse = True) # decending order

[99, 90, 67, 67, 43, 12, 6]