In [1]:

# Variables in Python

first_name = 'Tanmay'
last_name = 'Kshirsagar'
country = 'India'
city = 'Maharashtra'
age = 21
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python', 'ML']
person_info = {
    'firstname':'Tanmay', 
    'lastname':'Kshirsagar', 
    'country':'India',
    'city':'Maharashtra'
    }

In [2]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Tanmay
First name length: 6
Last name:  Kshirsagar
Last name length:  10
Country:  India
City:  Maharashtra
Age:  21
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python', 'ML']
Person information:  {'firstname': 'Tanmay', 'lastname': 'Kshirsagar', 'country': 'India', 'city': 'Maharashtra'}

In [3]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'prakash', 'senapati', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

prakash senapati Helsink 250 True
First name: prakash
Last name:  senapati
Country:  Helsink
Age:  250
Married:  True